// Variables generales
$bg-img: url(img/Banner1.png);
$color-texto: black;
$color-hover-nav: #452829;
$color-hover-footer: #EB5B00;
$font: "Geom", sans-serif;
// $margin-vertical: 10px;
$border-radius: 20px;
$double-border: 5px solid #452829;
$rad-gradient-body: radial-gradient(circle, #FFC600, #EB5B00);
$rad-gradient-oscuro: radial-gradient(circle, #DDBA7D , #703B3B);

//Estilos y resets
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: $rad-gradient-body;
    text-align: center;
}

//Header
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: $bg-img;
    padding: 15px 30px;
    margin-bottom: 10px;
    width: 100%;
     
    &__logo { // Anidamiento: .header__logo
        max-width: 120px;
        height: auto;
    }
}

nav{
    width: fit-content;
    margin: 10px auto;
    display: flex;
    background-image: $rad-gradient-body;
    border-radius: 30px;
    justify-content: center;
    align-items: center;

    ul li{
        margin: 0 10px;
        font-size: 17px;
        font-family: $font;
    }
    .nav-link{
        color: color-texto;
        
        &:hover{
            color: color-hover-nav;
            transform: scale(1.3);
        }
    }
}

footer{
    background-image: $rad-gradient-oscuro;
    margin-top: 10px;
    padding-top: 15px;

    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;

        li{
            font-size: 15px;
            margin-bottom: 3px;
            font-family: $font;
        }
    }
    &__redes a{
        color: $color-texto;
        text-decoration: none;
        
        &__redes:hover a{
            color: $color-hover-footer;
        }
        .link__icono {
            width: 20px; 
            height: 20px;
            vertical-align: middle; 
            }
    }
    &__copyright{
        font-size: 18px;
        padding-bottom: 5px;
        font-family: $font;
        }
}

//Estilos generales
.main{
    &__titulo-h1{
        width: fit-content;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-image: $rad-gradient-oscuro;
        border-radius: $border-radius;
        font-family: $font;
    }
    &__subtitulo--h2{
        background-color: #DDBA7D;
        font-family: $font;
    }
    &__img_mejora{
        margin: 0;
        width: 120px;
        height: 120px;
    
    }
}

.col{
    &__header{
        margin-top: 30px;

        h2{
            background-color: #DDBA7D;
            border-radius: $border-radius;
            font-family: $font;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 20px;
            padding: 5px 10px;
            border: $double-border;

            h3{
                margin: 0 0 0 15px;
                font-size: 20px;
                text-align: left;
                font-family: $font;
            }
        }
    }
}

//Estilos Index
.main{
    &__info{
        display: flex;
        align-items: flex-start;
        gap: 5px;
        margin-top: 25px;
    }
    &__img{
        width: 600px;
        height: auto;
        border-radius: $border-radius;
        margin-left: 20px;
        border: $double-border;
    }
    &__detalles{
        display: flex;
        list-style: none;
        text-align: left;

        li{
            margin-bottom: 50px;
        }
        h3{
            font-size: 23px;
            font-family: $font;
        }
    }
    &__imagen{
        width: 600px;
        height: auto;
        border-radius: $border-radius;
        border: $double-border;
        margin-bottom: 30px;
    }
    &__descripcion--h4{
        background-color: #DDBA7D;
        font-family: $font;
        font-size: 22px;
        margin-top: 10px;
    }
    .fixed-size-img{
        border-radius: 25px;
        border: $double-border;
        width: 450px;
        height: auto;
    }
}

//Estilos artefactos