@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/Banner1.png);
  padding: 15px 30px;
  margin-bottom: 10px;
  width: 100%;
}

nav {
  display: flex;
  background-image: radial-gradient(circle, #FCEFCB, #FDEB9E);
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
}

nav ul li {
  margin: 0 10px;
  font-size: 15px;
}

.header__logo{
  max-width: 120px;
  height: auto;
}