@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/Banner1.png);
  padding: 15px 30px;
  margin-bottom: 10px;
  width: 100%;
}

nav {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  background-image: radial-gradient(circle, #FFC600, #EB5B00);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
  font-size: 17px;
  font-family: "Geom", sans-serif;
}

.nav-link{
  color: black;
}

.nav-link:hover {
  color: #452829;
  transform: scale(1.3);
}

.header__logo{
  max-width: 120px;
  height: auto;
}

body{
  background-image: radial-gradient(circle, #FFC600 , #EB5B00);
  text-align: center;
}

.main__titulo--h1{
  width: fit-content;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-image: radial-gradient(circle, #DDBA7D , #703B3B);
  border-radius: 20px;
  font-family: "Geom", sans-serif;
}

.main__subtitulo--h2{
  background-color: #DDBA7D;
  font-family: "Geom", sans-serif;
}

.main__info {
    display: flex;
    align-items: flex-start;
    gap: 5px; /* Espacio entre imagen e info */
    margin-top: 25px;
}

.main__img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
    border: 5px solid #452829;
}

.main__detalles{
  display: flex;
  list-style: none;
  text-align: left;
}

.main__detalles li{
  margin-bottom: 50px;
}

.main__detalles h3{
  font-size: 23px;
  font-family: "Geom", sans-serif;
}

.main__imagen{
  width: 600px;
  height: auto;
  border-radius: 20px;
  border: 5px solid #452829 ;
  margin-bottom: 30px;
}

.main__descripcion--h4{
  background-color: #DDBA7D;
  font-family: "Geom", sans-serif;
  font-size: 22px;
}



.fixed-size-img{
  border-radius: 25px;
  border: 5px solid #452829;
  width: 450px;
  height: auto;
}

.main__img_mejora{
  margin: 0;
  width: 120px;
  height: 120px;
}

.col__header{
  margin-top: 30px;
}

.col__header h2{
  background-color: #DDBA7D;
  border-radius: 20px;
  font-family: "Geom", sans-serif;
}

.col ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.col ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 5px double #452829;
}

.col ul li h3{
  margin: 0 0 0 15px;
  font-size: 20px;
  text-align: left;
  font-family: "Geom", sans-serif;

}

.main__section--estadisticas{
  display: flex;
  background-image: radial-gradient(circle, #F79A19, #E2852E);
  margin: 20px;
  border-radius: 25px;
  border: 5px solid #452829;
}

.constelacion__item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100;
  padding: 15px 0;
  border-bottom: 2px solid #452829;
}

.constelacion__texto{
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}

.main__container .constelacion__texto h3{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "Geom", sans-serif;
}

.main__container .constelacion__texto h4{
  margin: 0;
  font-size: 20px;
  font-family: "Geom", sans-serif;
}

.talento__item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100;
  padding: 15px 0;
}
.talento__texto{
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}
.main__container .talento__texto h3{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "Geom", sans-serif;
}

.main__container .talento__texto h4{
  margin: 0;
  font-size: 20px;
  font-family: "Geom", sans-serif;
}

.talento__bloque{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #452829;
}

.talento__sinVideo{
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #452829;
}

.talento__descripcion{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80;
}

.talento__video{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.main__talento--video{
  width: 650px;
  height: auto;
  border-radius: 25px;
  border: 5px solid #452829;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer{
  background-image: radial-gradient(circle, #DDBA7D , #703B3B);
  margin-top: 10px;
  padding-top: 15px;
}

footer ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
footer ul li{
  font-size: 15px;
  margin-bottom: 3px;
  font-family: "Geom", sans-serif;
}
.footer__redes a{
  color: black;
  text-decoration: none;
}

.footer__redes:hover a {
  color: #EB5B00;
}

.link__icono {
    width: 20px; 
    height: 20px;
    vertical-align: middle; 
}

.footer__copyright{
  font-size: 18px;
  padding-bottom: 5px;
  font-family: "Geom", sans-serif;
}