@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/Banner1.png);
  padding: 15px 30px;
  margin-bottom: 10px;
  width: 100%;
}

nav {
  width: fit-content;
  margin: 10px auto;
  display: flex;
  background-image: radial-gradient(circle, #FFC600, #EB5B00);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
  font-size: 15px;
}

.header__logo{
  max-width: 120px;
  height: auto;
}

body{
  background-image: radial-gradient(circle, #FFC600 , #EB5B00);
  text-align: center;
}

.main__info {
    display: flex;
    align-items: flex-start;
    gap: 5px; /* Espacio entre imagen e info */
    margin-top: 25px;
}

.main__img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
    border: 4px solid #9A7E6F;
}

.main__detalles{
  display: flex;
  list-style: none;
  text-align: left;
}

.main__detalles li{
  margin-bottom: 50px;
}

.main__imagen{
  width: 600px;
  height: auto;
  border-radius: 20px;
  border: 4px solid #9A7E6F ;
  margin-bottom: 30px;
}

.main__descripcion--h4{
  background-color: #FED16A;
}

.fixed-size-img{
  border-radius: 25px;
  border: 3px solid #9A7E6F;
  width: 450px;
  height: auto;
}

.main__img_mejora{
  margin: 0;
  width: 120px;
  height: 120px;
}

.col__header{
  margin-top: 30px;
}

.col ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.col ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 10px;
}

.col ul li h3{
  margin: 0 0 0 15px;
  font-size: 20px;
  text-align: left;
}

/* .col__header--artefactos ul li{
  display: flex;
  align-items: center;
  justify-content: center;
} */

